<!doctype html>
<html lang="pt-br">
  <head>
  	<title>Resultado Filtro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../public/assets/css/styleMenu.css">
        <link rel="stylesheet" href="../public/assets/css/styleForm.css">
        
  </head>
  <body>
		
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
            <div class="p-4 pt-5">
              <h5 id="linha">.</h5>
              <h5 id="linha">.</h5> 
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="/home" aria-expanded="false" class="">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
            </ul>
          </li>
          <li>
              <a href="/addUser">Cadastrar</a>
          </li>
          <li>
            <a href="/search" aria-expanded="false" class="">Pesquisar</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
          </ul>
          </li>
          <li>
          <a href="/filterBr">Filtrar</a>
          </li>
  
        </ul>
    
    </nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">

        <h2 class="mb-4">Resultado Filtro</h2>
        
        <p>
        <button type="button" class="btn btn-success" onClick="docsv()">Exportar para .CVS</button>
        </p>

        <table class="table" id="tabela">
        <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col" >NOME</th>
              <th scope="col">BAIRRO</th>
              <th scope="col">REGIÃO</th>
              <th scope="col" hidden>TELEFONE</th>
              <th scope="col" >CELULAR</th>
              <th scope="col" hidden>SEXO</th>
              <th scope="col" hidden>DATA DE NASCIMENTO</th>
              <th scope="col" hidden>ESTADO CIVIL</th>
              <th scope="col" hidden>E-MAIL</th>
              <th scope="col" hidden>FILHOS</th>
              <th scope="col" hidden>QUANT. FILHOS</th>
              <th scope="col" hidden>ORIGEM</th>
              <th scope="col" hidden>OBSERVAÇÃO</th>
              <th scope="col">DETALHES</th>
              </tr>
            </thead>
    <% cadastro.forEach(function(user){ %>
      
            <tbody>
              <tr>
                <td><%= user.idusuarios %></td>
                <td><%= user.nome %></td>
                <td><%= user.bairro %></td>
                <td><%= user.regiao %></td>
                <td hidden><%= user.telefone %></td>
                <td ><%= user.celular %></td>
                <td hidden><%= user.sexo %></td>
                <td hidden><%= user.dtnascimento %></td>
                <td hidden><%= user.estadocivil %></td>
                <td hidden><%= user.email %></td>
                <td hidden><%= user.filhos %></td>
                <td hidden><%= user.qtFilhos %></td>
                <td hidden><%= user.origem %></td>
                <td hidden><%= user.observacao %></td>
                <td><a href='listUser/<%= user.idusuarios%>' type="button" class="btn btn-primary">+ Detalhes</a></td>
              </tr>
            </tbody>

    <% }) %>
        </table>

        </div>

  <script src="../public/assets/js/jquery.min.js"></script>
  <script src="../public/assets/js/popper.js"></script>
  <script src="../public/assets/js/bootstrap.min.js"></script>
	<script src="../public/assets/js/main.js"></script>
  <script> src="../public/assets/js/javaS.js"</script>

  <script type="text/javascript">
    function docsv(){
      var table = document.getElementById("tabela").innerHTML;
      var data = table.replace (/<thead class="thead-dark">/g,'')
        .replace(/<\/thead/g,'')
        .replace(/<tbody>/g,'')
        .replace(/<\/tbody/g,'')
        .replace(/<tr>/g,'')
        .replace(/<\/tr>/g,'\r\n')
        .replace(/<th scope="col" hidden="">/g,'')
        .replace(/<th scope="col">/g,'')
        .replace(/<\/th>/g,';')
        .replace(/<td>/g,'')
        .replace(/<td hidden="">/g,'')
        .replace(/<\/td>/g,';')
        .replace(/\t/g,'')
        .replace(/\n/g,'')
        .replace(/<td id="link">/g,'')
        .replace(/<tr role="row">/g,'')

             var myLink = document.createElement('a');
             myLink.download = "csvname.csv";
             myLink.href = "data:application/csv," + escape(data);
             myLink.click();

    }

  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>